@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573731312680'); /* IE9 */
  src: url('iconfont.eot?t=1573731312680#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABqAAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBDIENATYCJAMMCwgABCAFhG0HNBvRBREVjDGyL7Bt2AMK68QXTcwPVLcI4On5ebAtmIECAAAAAILnaw19f3fvAsAoHNuoRJJiRRaKQieqKFl2qq8BAgjUJjAA8/6vDUsfSlhIZ5GGd62n+362G/Y6LZMSIRIiCWgO7/NcTm8CnR21PkY5rb2fH/UCjAMKbE+MokSLJCFvGLvgBd6HAO5Ek4k07jsHccVgLxNANs3KHK6FNAbDaq4IdsNegxxh4aoO1OAw+r78lS+uoLA09tre5aZFan8kttL7DpMBQQYEeNgCNJAJGJDpxvIoGmGcxt1sulttDIJaKuc4RGrDaDt/eKAQEBu72xOAVFRR8CPRU2eWOqh96qoGeDp5SATS2MC3CBJrthbq+Dbx5j5ce948h5+9SfHSZw8p13dhyuv6Kez4cUL8KD1vHxzkZW7uhYivsu0q/nV29vWsrODgLPZqsG8WAId2fqNuBOh9QQCBj4m+pj6V/13nBoBP/yaHaYdheMUVBUzztzQD+4yhsz3aaGpPbUU1sQOCCqCSx3Cy4/58n24PuqO64ErQhLgLUXcXdSUxIw2bCQsPCmHjirUG7jIcDnsIQKZkbkC6N4Dw9YHi7QM0X1/SsD9Ygv1h820Kd8MFnOkhOSMaCHPGCooXmLJtpOtjEfceUd18TnldJLoiDSYHcRCVawdskJbYMNxVwixBUlvDHjyG3rfQUWux5EAzd8swlE0vCsq2HgkNCMoxVAGFF2CUWg0ZDGei8vkjpNx4OeoQ1BWvEBmY8UEsEA0gD+ZmkOBRnhncKQnGJCCRVg3swSzkeS3QNc+yUIkF9IRiZyl0Bsmh5mB7a/1/RwB39mSdEi0GfZPPvFAzGgEAAAA=') format('woff2'),
  url('iconfont.woff?t=1573731312680') format('woff'),
  url('iconfont.ttf?t=1573731312680') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573731312680#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e641";
}

.icon-jian:before {
  content: "\e624";
}

